@font-face {
    font-family: TwitterBold;
    src: url("/fonts/ChirpBold.ttf");
  }
  @font-face {
    font-family: TwitterChirp;
    src: url("/fonts/ChirpRegular.ttf");
  }
  @font-face {
    font-family: TwitterChirpExtendedHeavy;
    src: url("/fonts/ChirpExtendedHeavy.ttf");
  }
  
  
  
  :root {
    --open-sans: 'Open Sans', sans-serif;
    --source-sans: 'Source Sans 3', sans-serif;
    --twitterChirpBold: TwitterBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --twitterChirpReg: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--twitterChirpBold)
  }
  
  p, ul, ol, li, button, a, label, input, textarea  {
    font-family: var(--twitterChirpReg)
  }
  
  a {
    text-decoration: none;
  }
  
  ul, ol {
    list-style: none;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    min-height: 100vh;
    background-color: #000000;
    color:#E6E9EA
  }
  
  .header-bar{
    // display:flex;
    // padding: 36px;
    // color:#E6E9EA;
    // background-color: #000000;
    // align-items: center;
    // padding-bottom: 0;
  }

.intro-wrapper{
    position: absolute;
    left:0;
    background-color: transparent;
    display:flex;
    justify-content: start;
    height:100vh;
    width: 100vw;
    align-items: center;
    z-index: 1;
    padding-left: 200px;
}

  .intro{

    padding-top:40px;
    height: 500px;
    width: 300px;

    &> h1{
        white-space: nowrap;
        margin-top:50px;
    }

    &> button {
        margin-top:100px;
        background-color: #1C9BEF;
        outline:none;
        border:none;
        width:266px;
        height:38px;

        border-bottom-left-radius: 9999px;
        border-bottom-right-radius: 9999px;
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;
        &> div{
            font-family: var(--twitterChirpBold);
            color:white;
            display:flex;
            justify-content: center;
            align-items: center; 
            height: 38px;
            &> h2 {
                margin:0
            }
        }
    }

  }


  #ParticleSystem{ 
    position:absolute;
    left:0;
    z-index:  !important;
  }


  /* 
  @media screen and (max-width: 1000px) {
    main {
      min-height: 100vh;
      margin-top: 4rem;
    }
  }
     */
  
.evolutions-page-wrapper{ 
   width:100vw;
   display:flex;
}
.spacer{ 
    width:179.5px;
    height:100vh
}
.evolutions-wrapper { 
    width: 990px;
    display:flex;
    justify-content: space-between;
}
.evolutions{

    width: 598px;
    min-height: 100vh;
    border: 1px solid rgb(47, 51, 54);


    &> .evolutions-header{
        width: 100%;
        height:53px;
        display: grid;
        grid-template-columns: 53px auto 53px;
        padding-left:16px;
        padding-right:16px;
        align-items: center;
        &> #x-arrow{ 
            height: 20px;
            grid-column: 1;
        }
        &> #header-title{ 
            grid-column: 2;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }
    }
}
.tool-bar-wrapper{
    width:350px;
    display:flex;
    flex-direction: column;
    // border: 1px solid rgb(47, 51, 54);
    height: 100vh;
    gap: 20px;
}
.search{ 
    height:47px;
    margin-top:5px;
    border-radius: 9999px;
    padding-top:10.5px;
    padding-bottom:10.5px ; 
    background-color: #1F2327;
    display:flex;
    align-items: center;
    &>img{
        padding-left:12px;
        height: 20px;
    }
    &>span{ 
        padding-left:12px;
        color:#71767C
    }

}
.tweet-query-container{
    width: 100%;
    height: 400px;
    border: 1px solid rgb(47, 51, 54);
    border-radius: 16px;
}
.grok-response-container{ 
    width: 100%;
    height: 300px;
    border: 1px solid rgb(47, 51, 54);
    border-radius: 16px;
}
.tool-bar-heading { 
    padding: 12px 16px;
    &> h2 {
        font-size: 24px;
        font-weight: 800;
    }
}